.product-container{
  background-color: rgb(137, 130, 130);
  height: auto;
  width: 100%;
  
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.category{
  display: flex;
  height: 250px;
  width: 250px;
  border: 5px solid black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-top: 20px;
  background-color: rgb(147, 52, 52);
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 20px;
  
}
.selected{
  border: 5px solid green;
}

.category img{
  height: 150px;
  width: 150px;
  
}
.category p{
 font-size: 30px;
  
}



.products{
  display: flex;
  
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(137, 130, 130);
}
.product-items{
  border: 1px solid rgb(252, 237, 209);
  border-radius: 20px ;
  background-color: white;
  height: auto;
  width: auto;
  margin-left: 30px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}
.product-items img{
  height: 300px;
  width: 300px;
  object-fit:scale-down;

}
.product-items p,h3{
  text-align: center;
  margin-top: 4px;
  

}
.product-items select{
  align-self: center;
 background-color: cadetblue;
  margin-left: 20px;
  border: none;
  border-radius:12px;
  width: 90px;
  text-align: center;
  margin-top: 3px;
  

}
.cart-add{
  display: flex;
  align-items: center;
  justify-content:center ;
}
.cart-add h4{
  color: rgb(97, 97, 188);
  font-size: 30px;
 
}
.cart-btn{
  color: black;
  font-size: 20px;
  margin-top: 13px;
  margin-right: 14px;
  margin-left: 20px;
  height: 30px;
  width: 60px;
  border-radius: 12px;
  margin-bottom: 4px;

}

